@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    direction: rtl;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none !important;
}

body{
    font-family: 'yekan-regular','serif'!important;
}

html{
    overflow-x: hidden !important;
}

.container{
    padding: 12px !important;
}

@font-face {
    font-family: 'yekan-regular';
    font-style: normal;
    font-weight: 400;
    src: url(../font/yekanBakh/YekanBakhFaNum-Regular.woff) format('woff');
}